@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

:root {
    --black: #222831;
    --gray: #393e46;
    --orange: #f96d00;
    --white: #f2f2f2;
    --header-height: 8%;
    --main-height: 92%;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "SUSE", sans-serif;
    color: var(--white);
}

html {
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

button {
    cursor: pointer;
}

button:not(.contact-btn):hover, a:hover {
    transition: color 0.3s ease 0s;
    color: var(--orange);
}

button, a {
    transition: color 0.3s ease 0s;
}

header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 5px 10%;
    background: var(--gray);
}

.logo {
    font-size: 1.7em;
    text-align: center;
    vertical-align: middle;
    line-height: var(--header-height);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 100%;
}

.nav-btn {
    background-color: var(--gray);
    height: 100%;
    font-size: 1.1em;
}

.contact-btn {
    transition: background 0.3s ease 0s;
    border-radius: 2em;
    font-size: 1.3em;
    width: 6em;
    height: 2em;
    background: #f96d00;
}

.contact-btn:hover {
    transition: background 0.3s ease 0s;
    background: #ff7300c7;
}

main {
    height: var(--main-height);
    width: 100%;
    background: var(--black);
}

.sobre-mim, .formacao, .meus-projetos, .contato {
    display: none;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.sobre-mim {
    display: block;
}

.content, .form {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content * {
    padding: 5px 0;
}

.content h1 {
    font-size: 4em;
}

.content p {
    font-size: 2em;
}

form.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    padding: 10px 0;
}

.form-label {
    align-self: flex-start;
}

.form-input {
    width: 100%;
    color: #222831;
}

.submit-btn {
    background-color: var(--gray);
    vertical-align: middle;
    margin: 0 auto;
    width: 7em;
    height: 3em;
    border-radius: 2em;
}
